<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>

  <display-name>CapitalService</display-name>
  <description>A simple Web Service servlet that returns the capital of a nation</description>

  <servlet>
    <load-on-startup>1</load-on-startup>
    <servlet-name>CapitalService</servlet-name>
    <servlet-class>com.nokia.midp.examples.webservices.capitalservlet.CapitalServlet</servlet-class>
  </servlet>

  <servlet-mapping>
     <servlet-name>CapitalService</servlet-name>
     <url-pattern>/</url-pattern>
  </servlet-mapping>

</web-app>