/**************************************
	PRINT STYLESHEET PROPERTIES FOR:
		Internet Explorer 5+
		Mozilla 1.6+
		Netscape 7+
		Opera 7+
		
	Version 2.3.0
	---------------------------------
	If you need to create new styles,
	do not add it in this file, instead 
	create a new CSS file, called 
	"print_custom.css" and reference 
	it from your XHTML file(s).
**************************************/


/* LAYOUT */
div.nav {
	border-top: 2px solid #03C;
	display: block;
	margin: 10px 0 20px 0;
	padding: 0 0 0 0;
	width: 100%;
	}

div.n1, div.n2 {
	display: none;
	}
	
div.toolBar {
	display: none;
	}
	
div.body {
	margin: 0 0 0 10px;
	width: 576px;
	}

div.contentFull, div.contentRight, div.contentMiddle, div.contentLeft {
	width: 576px;
	}

div.bodyPop {
	width: 576px;
	}
div.bodyPop div.content {
	padding: 0 38px 50px 10px;
	}
div.header div.btnPop {
	display: none;
	}

div.sidebar {
	display: none;
  }

div.navFooter {
	display: none;
	}
div.copy {
	width: 576px;
	}
div.footerPop {
	width: 576px;
	}


/* HEADER */
.logo {
	margin-left: 0;
	}
.service {
	display: none;
	}


/* NAVIGATION */
a:link, a:visited, a:hover, a:active {
	color: #000;
	text-decoration: none;
	}
/* 3rd level navigation */
div.nav3 {
	display: none;
	}
/* 4th level navigation */
div.nav4 {
	display: none;
	}


/* MAIN BODY CONTENT */
.ftNote a:link, .ftNote a:active, .ftNote a:visited, .ftNote a:hover {
	color: #999;
	text-decoration: none;
	}

thead tr.title td a:link, thead tr.title td a:visited, thead tr.title td a:active, thead tr.title td a:hover 
tbody tr.title td a:link, tbody tr.title td a:visited, tbody tr.title td a:active, tbody tr.title td a:hover {
	color: #000;
	text-decoration: none;
	}

thead tr td.titleOn a:link, thead tr td.titleOn a:visited, thead tr td.titleOn a:active, thead tr td.titleOn a:hover {
	color: #FFF;
	text-decoration: none;
	}

/* Tools: download, bookmark, print */
div.download, div.print {
	display: none;
	}